:root {
    --background: #FAFAFA;
    --text: #615D6C;
    --primary: #6F8AB7;
    --accent: #89BBFE;
}

body {
    font-family: 'Montserrat', sans-serif;

    margin: 0;

    color: var(--text);
    background: var(--background);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}