:root {
    --background: #1A1A1A;
    --background-secondary: #2B2B2B;
    --text: #E3E3E3;
    --accent: #B8DF1C;
    --link: #49AAE0;

    --darcula-keyword: #D6912B;
    --darcula-comment: #58984E;
    --darcula-comment-dark: #3f7137;
    --darcula-const: #D474CB;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.eot");
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('fonts/JetBrainsMono-Regular.ttf')  format('truetype');
}

body {
    font-family: 'JetBrains Mono', sans-serif;

    margin: 0;

    color: var(--text);
    background: var(--background);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}