.imports {
    margin-bottom: 1em;
}

.keyword {
    color: var(--darcula-keyword);
}

.comment {
    color: var(--darcula-comment);
}

.const {
    color: var(--darcula-const);
    font-style: italic;
}

.static-fun {
    font-style: italic;
}

.tab-1 {
    margin-left: 1.1em;
}